.heading{
    background-color:rgb(211, 221, 221);
    display: flex;
    justify-content: center;
}
.doc{
    background-color: lightgray;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.doc1{
    background-color: rgb(177, 191, 196);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

/* Summary page */
@media (max-width: 1200px) {
    .doc1 {
        width: 100%;
        height: 300px;
    }
    .btn {
        font-size: 16px;
        padding: 12px 24px;
    }
}

@media (max-width: 992px) {
    .doc1 {
        height: 300px;
    }
    .btn {
        font-size: 14px;
        padding: 10px 20px;
    }
}

@media (max-width: 768px) {
    .doc1 {
        height: 250px;
    }
    .btn {
        font-size: 12px;
        padding: 8px 16px;
    }
}

@media (max-width: 360px) {
    .doc1 {
        height: 200px;
    }
    .btn {
        font-size: 10px;
        padding: 4px 8px;
    }
}

/* Index page */
@media (max-width: 1200px) {
    .doc {
        width: 100%;
        height: 400px;
    }
    .btn {
        font-size: 23px;
        padding: 12px 24px;
    }
}

@media (max-width: 992px) {
    .doc {
        height: 400px;
    }
    .btn {
        font-size: 20px;
        padding: 10px 20px;
    }
}

@media (max-width: 768px) {
    .doc {
        height: 370px;
    }
    .btn {
        font-size: 18px;
        padding: 8px 16px;
    }
}

@media (max-width: 360px) {
    .doc {
        height: 300px;
    }
    .btn {
        font-size: 15px;
        padding: 4px 8px;
    }
}
